<!DOCTYPE html>
<html lang="en">

<head>
	{%include 'head.html' %}
</head>

<body>
	<div class="wrapper">
	{%include 'sidebar.html'%}

		<div class="main">
			{%include 'navbar.html'%}

			<main class="content" style="background-image: url('/img/farming-irrigation-system-1000x1000.webp') !important;">

				<div class="container-fluid p-0">

					<div class=" text-center rounded-0">
						<h1 class="h3 my-3 fw-bold">Reports </h1>
						<p>This page will be updated once contents have been planned!!</p>
					</div>
					<div class="mb-2 order-0">
						<div class="alert card mx-1 alert-white p-0  fade show " style="border-left: solid blue; "
							role="alert">
							<div class="d-flex align-items-end row">
								<div class="col-sm-7">
									<div class="card-body">
										<!-- <h5 class="card-title text-primary h4">👋WELCOME CYNTHIA 🙋</h5> -->
										<p class="mb-4">We are in the progress to develop this site
											You can check around on the layout and features that will be included here.
											All information included here are for decoration
										</p>
									</div>
								</div>
								<div class="col-sm-5 text-center text-sm-left d-none d-sm-inline-block">
									<div class="card-body pb-0 px-0 px-md-4">
										<img src="/img/man-with-laptop-light.png" height="140" alt="View Badge User">
									</div>
								</div>
							</div>

						</div>
					</div>
					
				</div>
			</main>

			{%include "footer.html"%}
		</div>
	</div>


</body>

</html>