<!DOCTYPE html>
<html lang="en">

<head>
	{%include 'head.html' %}
</head>

<body>
	<div class="wrapper">
		{%include 'sidebar.html'%}

		<div class="main">
			{%include 'navbar.html'%}
			<div class=" text-center rounded-0">
				<h1 class="h3 my-3 fw-bold">Drainage </h1>
			</div>
			<style>
				.nav-link{
					color: white;
				}
				.nav-link.active{
					background-color: white !important;
					color: dark !important;
				}
				
			</style>
			<div class=" border-top d-flex justify-content-center">
				<div class="nav nav-tabs me-3 pt-2" id="list-tab" role="tablist">
					<button class="bg-danger mx-1 nav-link active " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#manual" type="button" role="tab" aria-selected="false">
						Manual Controls
					</button>
					<button class="bg-danger mx-1 nav-link " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#history" type="button">
						History
					</button>
					<button class="bg-danger mx-1 nav-link " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#status" type="button">
						Status
					</button><button class="bg-danger mx-1 nav-link " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#schedules" type="button">
						Schedules
					</button>


				</div>
			</div>
			<main class="content" style="background-image: url('/img/dripirrigation-1.jpg') !important;">

				<div class="container-fluid p-0">
					<div class="tab-content sub-form">
						<div class="tab-pane fade hide_if_grouped show active " id="manual" role="tabpanel"
							titleledby="general1-list">

							<div class="container px-lg-6 mx-auto d-table h-100">
								<div class="d-table-cell align-middle">
									<div class="card flex-fill w-100">
										<div class="card-header">

											<h5 class="card-title mb-0">Drainage for the Last Week</h5>
										</div>
										<div class="card-body d-flex w-100">
											<div class="align-self-center chart chart-sm">
												<canvas id="drainage-weekly-chart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
						<div class="tab-pane fade hide_if_grouped  " id="history" role="tabpanel"
							titleledby="general1-list">
							--History Here
						</div>
						<div class="tab-pane fade hide_if_grouped" id="status" role="tabpanel"
							titleledby="general1-list">
							--Status Here
						</div>
						<div class="tab-pane fade hide_if_grouped" id="schedules" role="tabpanel"
							titleledby="general1-list">
							--Schedules comes here
						</div>
					</div>

				</div>

			</main>

			{%include "footer.html"%}
		</div>
	</div>




	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var ctx = document.getElementById("drainage-weekly-chart").getContext("2d");
			new Chart(document.getElementById("drainage-weekly-chart"), {
				type: "scatter",
				data: {
					labels: ["S", "M", "T", "W", "T", "F", "S"],
					datasets: [{
						type: "bar",
						label: "Water in access Drained",
						fill: true,
						backgroundColor: "#8403fc",
						data: [
							700,
							1000,
							1300,
							1892,
							1587,
							1223,
							800
						]
					}, {
						type: "line",
						label: "Rainfall(mm)",
						borderColor: '#034efc',
						backgroundColor: '#034efc',
						tension: 0.2,
						pointRadius: 0,
						data: [
							740,
							1200,
							1330,
							1892,
							1687,
							1223,
							800
						]
					}]
				},
				options: {
					bezierCurve: true,
					responsive: true,
					maintainAspectRatio: false,
					legend: {
						display: false
					}
				}

			});
		});
	</script>

</body>

</html>