<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}
</head>

<body>
  <div class="wrapper">
    {% include 'sidebar.html' %}

    <div class="main">
      {% include 'navbar.html' %}
      <div class="text-center rounded-0">
        <h1 class="h3 my-3 fw-bold">Drainage</h1>
      </div>
      <style>
        .nav-link {
          color: white;
        }

        .nav-link.active {
          background-color: white !important;
          color: dark !important;
        }
      </style>
      <div class="border-top d-flex justify-content-center">
        <div class="nav nav-tabs me-3 pt-2" id="list-tab" role="tablist">
          <button class="bg-danger mx-1 nav-link active" id="user-accounts-tab" data-bs-toggle="pill"
            data-bs-target="#manual" type="button" role="tab" aria-selected="false">Manual Controls</button>
          <button class="bg-danger mx-1 nav-link" id="user-accounts-tab" data-bs-toggle="pill" data-bs-target="#history"
            type="button">History</button>
          <button class="bg-danger mx-1 nav-link" id="user-accounts-tab" data-bs-toggle="pill" data-bs-target="#status"
            type="button">Status</button><button class="bg-danger mx-1 nav-link" id="user-accounts-tab"
            data-bs-toggle="pill" data-bs-target="#schedules" type="button">Schedules</button>
        </div>
      </div>
      <main class="content" style="background-image: url('/img/dripirrigation-1.jpg') !important;">
        <div class="container-fluid p-0">
          <div class="tab-content sub-form">
            <div class="tab-pane fade show active" style="background-color: rgba(255, 255, 255, 0.5);" id="manual"
              role="tabpanel" titleledby="general1-list">
              <div class="pt-1">
                <!-- <div class="fw-bold h5-m">Irrigation is <span class="text-danger">off</span></div>
                  <button class="start-irrigation btn btn-sm btn-success my-2">Start</button> --->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Field</th>
                      <th scope="col">Auto Schedule</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for field in fields %}
                    <tr>
                      <td>{{field['name']}}</td>
                      <td>
                        <div class="py-4">
                          <div class="button r" id="button-1">
                            <input type="checkbox" class="checkbox" {%if field['drainage_status']%}checked{%endif%} />
                            <div class="knobs"></div>
                            <div class="layer"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade hide_if_grouped" id="history" role="tabpanel" titleledby="general1-list"
              style="background-color: rgba(255, 255, 255, 0.8);">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time Start</th>
                    <th scope="col">Time End</th>
                    <th scope="col">Time Spent</th>
                    <th scope="col">Estimated Litres (Litres)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(- 7, 20) %}
                  <tr>
                    <td>{{ i + 7 }}/03/2024</td>
                    <td>12:00</td>
                    <td>13:00</td>
                    <td>1hr</td>
                    <td>233</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade hide_if_grouped" id="status" role="tabpanel" titleledby="general1-list">
              <div class="card card-body" style="background-color: rgba(255, 255, 255, 0.9);">
                <div class="pt-1 text-start">
                  <!--  <div class="fw-bold h5-m">Irrigation is <span class="text-danger">off</span></div>
                    <button class="start-irrigation btn btn-sm btn-success my-2">Start</button> --- --><table
                    class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Field</th>
                        <th scope="col">Satus</th>
                        <th scope="col">Ation(start/stop)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for field in fields %}
                      <tr>
                        <td>{{field['name']}}</td>
                        <td>
                          <span class="text-danger fw-bold">off</span>
                        </td>
                        <td>
                          <button class="start-irrigation btn btn-sm btn-success my-2">Start</button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade hide_if_grouped" id="schedules" role="tabpanel" titleledby="general1-list">
              <div class=" card card-body" style="background-color: rgba(255, 255, 255, 0.9);">
                <div class="pt-1 text-start">
                  <!-- <div class="fw-bold h5-m">Irrigation is <span class="text-danger">off</span></div>
                    <button class="start-irrigation btn btn-sm btn-success my-2">Start</button> --->
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Field</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Ation(Schedule Manual)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for field in fields %}
                      <tr>
                        <td>{{field['name']}}</td>
                        <td><span class="text-danger fw-bold">No Schedule</span></td>
                        <td><button class="start-irrigation btn btn-sm btn-success my-2">Schedule</button></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </main>

      {% include 'footer.html' %}
    </div>
  </div>
</body>

</html>