<!DOCTYPE html>
<html lang="en">

<head>
	{%include 'head.html' %}
</head>

<body>
	<div class="wrapper">
		{%include 'sidebar.html'%}

		<div class="main">
			{%include 'navbar.html'%}
			<div class=" text-center rounded-0">
				<h1 class="h3 my-3">Ecological Conditions In Real Time</h1>
			</div>
			<main class="content" style="background-image: url('/img/sprinklerirrigation.jpg') !important;">
				<div class="container-fluid p-0">
					<div class="d-flex justify-content-end">
						<div>
							<button class="refresh btn btn-sm btn-success">Refresh</button>
							<button id="golive" class="btn btn-danger btn-sm">Auto Refresh</button>
						</div>
					</div>
					<div class=" dropdown-divider"></div>
					<div class="d-flex justify-content-between">

						<div>
							<div class="card text-center p-0 m-0 visually-hidden" id="rain-status">
								<div class="card-header  p-1 bg-light">
									<span class="raining" data-feather="cloud-rain"></span>
									<span class="no-rain" data-feather="sun"></span>
									<h5>NO RAIN</h5>
								</div>
							</div>
						</div>
						<div class="my-3 pb-3">
							<div class="d-flex justify-content-end temperature-record visually-hidden">
								<div class="h3 fw-bold"> <span>__</span> Degrees Celcius</div>
							</div>
						</div>
					</div>
					<div id="no_sensors" class="bg-white py-3 text-center text-danger fw-bolder visually-hidden">
						<div class="py-5 my-5">
							<h5>There are no sensors......Please make sure the devices are connected
								properly and sensors are connected</h5>
							<button class="refresh btn btn-sm btn-success py-2">Try Refresh</button>
						</div>
					</div>
					<div id="sensor-not-connected" 
						class="bg-white py-1 mt-1 text-center alert alert-dismissable text-danger fw-bolder visually-hidden">
						<div class="py-2 my-2">
							<h5>Some sensors are not connected...Please check the sensors or refresh..</h5>
							<h6 class="text-dark text-start ms-2">Check Sensors::</h6>
							<ul class="flex-column text-dark text-start">
							</ul>
						</div>
					</div>
					<div class="row">

						<!-- Draw pie chart for Soil moiture -->
						<div class="col-xl-4 col-xxl-7 pie-chart visually-hidden">
							<div class=" flex-fill w-100">
								<div class="d-flex w-100 py-2">
									<div class="align-self-center chart chart-sm">
										<canvas></canvas>
									</div>
								</div>
								<div class="chart-label text-center h2 fw-bold" style=" color: rgb(175, 240, 240);">
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			{%include "footer.html"%}
		</div>
	</div>


	<script>


		document.addEventListener("DOMContentLoaded", function () {
			function error(str, title) {
				$("#alert").modal("show").find('.modal-content').addClass(
					"bg-danger").removeClass("bg-primary-2").find(
						'.modal-body').html(
							"<b>" + str + "</b>");
				$('#alert').find('.title').html('<b>' + (title == undefined ? "Error" : title) + '</b>').addClass('text-white');
			}

			function send(url, data, method) {
				return $.ajax({
					url: url,
					method: method,
					data: data
				});
			}
			var plugin = {
				beforeDraw: function (chart) {
					var width = chart.width,
						height = chart.height,
						ctx = chart.ctx;

					ctx.restore();
					var fontSize = (height / 114).toFixed(2);
					ctx.font = fontSize + "em sans-serif";
					ctx.textBaseline = "middle";

					var text = chart.config.data.datasets[0].data[1] + "%",
						textX = Math.round((width - ctx.measureText(text).width) / 2),
						textY = height / 2;

					ctx.fillText(text, textX, textY);
					ctx.save();
				}
			}
			function drawChart(label, data) {
				var chart_container = $(".pie-chart.visually-hidden").clone();
				chart_container.find("canvas").first().attr("id", 'pie-' + label)

				var chart = new Chart(chart_container.find("canvas")[0], {
					type: "pie",
					data: {
						labels: ["-", label],
						datasets: [{
							data: [(100 - data.last_value), data.last_value],
							backgroundColor: [
								"#e6eded",
								"rgb(175, 240, 240)"
							],
							borderWidth: 0
						}]
					},
					plugins: [plugin],
					options: {
						plugins: {
							legend: {
								display: false,
							}
						},
						responsive: !window.MSInputMethodContext,
						maintainAspectRatio: false,
						cutout: 90
					}
				});
				chart_container.removeClass("visually-hidden")
				chart_container.find(".chart-label").first().text(label)
				chart_container.insertAfter($(".pie-chart.visually-hidden"))
			}
			var failed = false;
			function refresh() {
				var charts = $(".pie-chart:not(.visually-hidden)");
				var sensor_error_alert = $("#sensor-not-connected");
				$("#sensor-not-connected").find("ul").html("")
				sensor_error_alert.addClass("visually-hidden")
				charts.remove()
				send("/api/real_time_ecological_factors").done(function (data) {
					if (Object.keys(data).length === 0) {
						$("#no_sensors").removeClass("visually-hidden")
						$(".temperature-record,#rain-status").addClass("visually-hidden")
					} else {
						$("#no_sensors,.temperature-record,#rain-status").addClass("visually-hidden")
						for (const [sensor, sensorData] of Object.entries(data)) {
							if (sensorData.status === false) {
								sensor_error_alert.find("ul").first().append(`<li class='nav-item'>${sensor}</li>`)
								sensor_error_alert.removeClass("visually-hidden")
							} else {
								if (!(sensor === "Temperature" || sensor === "RainDrop")) {
									drawChart(sensor, sensorData)
								} else {
									if(sensor === "RainDrop"){
										$("#rain-status").removeClass("visually-hidden")
										if(sensorData.last_value===true){
											$("#rain-status h5").text("RAINING")
											$("#rain-status,.raining").removeClass("visually-hidden")
											$(".no-rain").addClass("visually-hidden")
											$("#rain-status .card-header").removeClass("bg-light").addClass("bg-warning")
										}else{
											$("#rain-status h5").text("NO RAIN")
											$(".raining").addClass("visually-hidden")
											$(".no-rain").removeClass("visually-hidden")
											$("#rain-status .card-header").addClass("bg-light").removeClass("bg-warning")
										}
									}else{
										$(".temperature-record").removeClass("visually-hidden").find("span").text(sensorData.last_value)
									}
								}
							}

						}
					}
				}).fail(function (e) {
					console.log(e)
					failed = true;
					error("Failed To Refresh")
				})
			}

			$(".refresh").click(refresh)
			refresh()
			var connected = false
			$("#golive").click(function () {
				if ($("#golive").hasClass("live")) {
					connected = false
					$("#golive").text("Auto Refresh")
					$("#golive").removeClass("live")
					$(".refresh").removeClass("visually-hidden")
				} else {
					connected = true
					$("#golive").text("Disconnect")
					$("#golive").addClass("live")
					$(".refresh").addClass("visually-hidden")
				}
			})
			setInterval(function () {
				if (connected && !failed) {
					refresh()
				}
			}, 4 * 1000)
		});
	</script>



</body>

</html>