<footer class="footer">
    <div class="modal fade" id="loaderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="loaderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0" style="background-color: rgba(255, 255, 255, 0);">
                <!-- <div class="modal-header">
                    <h5 class="modal-title" id="loaderModalLabel">Loading...</h5>
                </div> -->
                <div class="modal-body text-center">
                    <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Waiting...</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="alert" aria-hidden="true" style="z-index: 1500 !important;">
        <div class=" modal-dialog modal-dialog-scrollable">
            <div class="modal-content rounded-0">
                <div class="modal-header rounded-0 py-0 border-0 border-bottom d-flex justify-content-between">
                    <div class="title">
                    </div>
                    <a class="close small text-white" data-bs-dismiss="modal" aria-label="Close">
                        <span class=" h3 ">X</span>
                    </a>
                </div>
                <div class="modal-body py-1 m-0 text-center text-white">

                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted" href="https://nust.ac.zw/" target="_blank"><strong>NUST</strong></a> - <a
                        class="text-muted" href="https://nust.ac.zw/" target="_blank"><strong>Tech
                            Innovation</strong></a> &copy;2024
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://nust.ac.zw/" target="_blank">Support</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://nust.ac.zw/" target="_blank">Help Center</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://nust.ac.zw/" target="_blank">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://nust.ac.zw/" target="_blank">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <script src="/js/app.js"></script> -->
        <script>
            const theme = {
                "primary": "#3B7DDD",
                "secondary": "#6c757d",
                "success": "#1cbb8c",
                "info": "#17a2b8",
                "warning": "#fcb92c",
                "danger": "#dc3545",
                "white": "#fff",
                "gray-100": "#f8f9fa",
                "gray-200": "#e9ecef",
                "gray-300": "#dee2e6",
                "gray-400": "#ced4da",
                "gray-500": "#adb5bd",
                "gray-600": "#6c757d",
                "gray-700": "#495057",
                "gray-800": "#343a40",
                "gray-900": "#212529",
                "black": "#000"
            };

            // Add theme to the window object
            window.theme = theme;
        </script>
        <script src="/js/simplebar.min.js"></script>

        <script src="/js/jquery-3.6.0.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script src="/js/chart.umd.min.js"></script>

        <script src="/js/feather.js"></script>


        <script>
            feather.replace();
            const initialize = () => {
                initializeSimplebar();
                initializeSidebarCollapse();
            }

            const initializeSimplebar = () => {
                const simplebarElement = document.getElementsByClassName("js-simplebar")[0];

                if (simplebarElement) {
                    const simplebarInstance = new SimpleBar(document.getElementsByClassName("js-simplebar")[0]);

                    /* Recalculate simplebar on sidebar dropdown toggle */
                    const sidebarDropdowns = document.querySelectorAll(".js-sidebar [data-bs-parent]");

                    sidebarDropdowns.forEach(link => {
                        link.addEventListener("shown.bs.collapse", () => {
                            simplebarInstance.recalculate();
                        });
                        link.addEventListener("hidden.bs.collapse", () => {
                            simplebarInstance.recalculate();
                        });
                    });
                }
            }

            const initializeSidebarCollapse = () => {
                const sidebarElement = document.getElementsByClassName("js-sidebar")[0];
                const sidebarToggleElement = document.getElementsByClassName("js-sidebar-toggle")[0];

                if (sidebarElement && sidebarToggleElement) {
                    sidebarToggleElement.addEventListener("click", () => {
                        sidebarElement.classList.toggle("collapsed");

                        sidebarElement.addEventListener("transitionend", () => {
                            window.dispatchEvent(new Event("resize"));
                        });
                    });
                }
            }

            // Wait until page is loaded
            document.addEventListener("DOMContentLoaded", () => initialize());
            var addFormData = (v, d) => {
                if (v[d.name] != undefined) {
                    if (typeof v[d.name] == 'string' || typeof v[d.name] == 'number') {
                        v[d.name] = [v[d.name], d.type == 'checkbox' ? ($(d).is(":checked") ? 1 : 0) : $(d).val()];

                    } else {
                        v[d.name].push(d.type == 'checkbox' ? ($(d).is(":checked") ? 1 : 0) : $(d).val());

                    }
                } else {
                    // console.log(d.name,$(d).val(), $(d).is(":checked"),$(d).val())
                    v[d.name] = d.type == 'checkbox' ? ($(d).is(":checked") ? 1 : 0) : $(d).val();
                };
            };

            function getFormData(id) {

                var inputs = $('#' + id + ' :input');

                var values = {},
                    key = $('#' + id).attr('data-cf-formkey');
                inputs.each(function () {
                    var skip = $(this).parents('.skip-form').first();
                    var sub = $(this).parents('.sub-form').first();
                    if (skip.length != 0) {
                        if (skip.attr('id') != id && skip.find('#' + id).length == 0) { //chcks if the skipform is not a parent of current form
                            return;
                        }
                    }
                    if (sub.length != 0) {
                        if (sub.attr('id') != id && sub.find('#' + id).length == 0) {
                            values[sub.attr('id')] = getFormData(sub.attr('id'));
                            return;
                        }
                    }
                    if ($(this).hasClass('key')) {
                        return
                    }
                    if ($(this).attr('data-cf-setunder') != null) {
                        if ($(this).val() != '') {
                            if (values[$(this).attr('data-cf-setunder')] == undefined) {
                                values[$(this).attr('data-cf-setunder')] = {};
                            }
                            if (this.type == 'checkbox') {
                                addFormData(values[$(this).attr('data-cf-setunder')], this);
                            } else if ($(this).tagName() == 'SELECT') {
                                if ($(this).val() != -1) {
                                    addFormData(values[$(this).attr('data-cf-setunder')], this);
                                }
                            } else {
                                addFormData(values[$(this).attr('data-cf-setunder')], this);
                            }
                        }
                    } else if ($(this).val() != '') {
                        if ($(this).hasClass('value')) {
                            var key = $(this).parents('.key_value').first().find('.key').first().val();
                            values[key] = $(this).val();
                            return;
                        }

                        if (this.type == 'checkbox') {
                            addFormData(values, this);
                        } else if ($(this).tagName() == 'SELECT') {
                            if ($(this).val() != -1) {
                                addFormData(values, this);
                            }
                        } else {
                            addFormData(values, this);
                        }
                    }
                });
                if (key != undefined) {
                    var v = {};
                    v[key] = values;
                    return v;
                }
                return values;
            }
            jQuery.fn.tagName = function () {
                return this.prop("tagName");
            };
            function error(str, title) {
                $("#alert").modal("show").find('.modal-content').addClass(
                    "bg-danger").removeClass("bg-primary").find(
                        '.modal-body').html(
                            "<b>" + str + "</b>");
                $('#alert').find('.title').html('<b>' + (title == undefined ? "Error" : title) + '</b>').addClass('text-white');
            }
            function send(url, data, method) {
                return $.ajax({
                    url: url,
                    method: method,
                    data: data
                });
            }

        </script>
    </div>
</footer>