{% if current_user.is_authenticated %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
	{%include 'head.html' %}
</head>

<body>
	<div class="wrapper">
		{%include 'sidebar.html'%}

		<div class="main">
			{%include 'navbar.html'%}

			<main class="content">
				<!-- style="background-image: url('/img/farming-irrigation-system-1000x1000.webp') !important;"> -->

				<div class="container-fluid p-0">

					<div class="justify-content-between d-flex">
						<div class="rounded-0">
							<h1 class="h3  fw-bold text-primary">Dashboard </h1>
						</div>
						<div>
							<select class="btn-like interval  bg-white" id="time-selector">
								<option selected value="daily">Daily</option>
								<option value="weekly">Weekly</option>
								<option value="monthly">Monthly</option>
								<option value="yearly">Yearly</option>
							</select>
							<button id="reportrange" class="btn bg-white"
								style="color: #1d3b4a;border-width: 0 1px 4px;">
								<i class="align-middle" data-feather="calendar"></i>
								<span></span>
								<i class="align-middle" data-feather="chevron-down"></i>
							</button>
						</div>

					</div>

					<div class="row">
						<div class="col-md-6 mt-1 chart-container" id="irrigation">
							<div class="card flex-fill w-100">
								<div class="card-header m-0 p-1">
									<div class="h5 float-start">Irrigation</div>
									<select class="float-end border bg-white" id="graph-type">
										<option value="bar">bar</option>
										<option selected value="line">Line</option>
										<option value="scatter">Scatter</option>
										<option value="hist_line">Histogram+line</option>
									</select>
								</div>
								<div class="card-body d-flex w-100 p-0 m-0">
									<div class="align-self-center chart chart-sm">
										<canvas id="irrigation-bar-chart"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-1 chart-container" id="drainage">
							<div class="card flex-fill w-100">
								<div class="card-header m-0 p-1">
									<div class="h5 float-start">Drainage</div>
									<select class="float-end border bg-white" id="graph-type">
										<option value="bar">bar</option>
										<option selected value="line">Line</option>
										<option value="scatter">Histogram</option>
										<option value="hist_line">Histogram+line</option>
									</select>
								</div>
								<div class="card-body d-flex w-100 p-0 m-0">
									<div class="align-self-center chart chart-sm">
										<canvas id="drainage-bar-chart"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row pt-3">

						<div class="col-md-6 mt-1 col-xxl-6 d-flex order-3 order-xxl-2">
							<div class="card flex-fill w-100">
								<div class="card-header bg-primary-2">

									<h5 class="card-title mb-0">Recent Notification</h5>
								</div>
								<div class="card-body px-4">
									<table class=" table">

										<tbody>
											{% for note in notifications%}
											<tr>
												<td>{{note.notification_category}}</td>
												<td>{{note.time_created}}</td>
												<td>{{note.message}}</td>
											</tr>
											{%endfor%}
										</tbody>
									</table>
								</div>
								<div class="card-header">
									<a href="/notifications">View More Notifications</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-1">
							<div class="card flex-fill w-100">
								<div class="card-header bg-primary-2">

									<h5 class="card-title mb-0">Recommendations</h5>
								</div>
								<div class="card-body px-4">

									{%if recommendations%}
									<table class=" table">

										<tbody>
											{% for note in recommendations%}
											<tr>
												<td>{{note.notification_category}}</td>
												<td>{{note.time_created}}</td>
												<td>{{note.message}}</td>
											</tr>
											{%endfor%}
										</tbody>
									</table>
									{%else%}
									<div class="text-center muted">
										<h6>No Recommendations So far!!</h6>
									</div>
									{%endif%}
								</div>
								<div class="card-header">
									<a href="/recommendations">View More Recommendations</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			{%include "footer.html"%}
		</div>
	</div>

	<!-- <script src="js/app.js"></script> -->



	<script>
		//y=a+bx
		function calculateLineFunction(data) {
			var x = data.x, y = data.y, total_x = 0, total_y = 0, x_bar = 0, y_bar = 0, a, b, sum_xy = 0, sum_x_squared = 0;
			for (let i = 0; i < data.x.length; i++) {
				total_y += data.y[i];
				total_x += data.x[i];
				sum_xy += data.x[i] * data.y[i];
				sum_x_squared += Math.pow(data.x[i], 2);
			}

			b = (sum_xy - ((total_x * total_y) / data.x.length)) / (sum_x_squared - (Math.pow(total_x, 2) / data.x.length));

			x_bar = total_x / data.x.length;
			y_bar = total_y / data.y.length;

			a = y_bar - b * x_bar;
			var predicted_data = [];
			for (let i = 0; i < data.x.length; i++) {
				predicted_data[i] = a + b * data.x[i];
			}
			return {
				slope: b, intersept: a, predicted: predicted_data
			}

		}
		Chart.defaults.elements.line.borderWidth = 1;
		Chart.defaults.elements.point.radius = 1;
		function drawGraph(element, data, type = "bar", label) {
			var existingChart = Chart.getChart(element);
			if (existingChart) {
				existingChart.destroy();
			}
			var labels = data.map(entry => new Date(entry.date).toLocaleDateString());
			var values = data.map(entry => entry.value);

			var v = new Chart(document.getElementById(element), {
				type: type,
				data: {
					labels: labels,
					datasets: [{
						label: label,
						backgroundColor: window.theme.primary,
						borderColor: window.theme.primary,
						hoverBackgroundColor: window.theme.primary,
						hoverBorderColor: window.theme.primary,
						data: values,
						barPercentage: .75,
						categoryPercentage: .5
					}]
				},
				options: {
					maintainAspectRatio: false,
					plugins: {
						legend: {
							display: false
						}
					}
				}
			});
			return v;
		}

		document.addEventListener("DOMContentLoaded", function () {

			var chats = ['drainage', "irrigation"]
			function updateGraphs(start, end, interval) {
				start_time = start.format('D-MM-YYYY')
				end_time = end.format('D-MM-YYYY')
				for (let i = 0; i < chats.length; i++) {
					const type = chats[i];

					send("/api/history/" + type, { 'interval': interval, "start": start_time, "end": end_time }).done(function (data) {
						drawGraph(type + "-bar-chart", data, 'line', 'shsh')
					}).fail(function (err) {
						error(`${err.responseText}`, err.statusText)
					})
				}
			}
			updateConfig();
			function get_interval() {
				var element = $("#time-selector");
				return element.val()
			}

			var start_date, end_date;
			$("#time-selector").change(function (e) {
				var element = $(e.target), interval = element.val();
				updateGraphs(start_date, end_date, interval)
			})
			$("#graph-type").change(function (e) {
				var element = $(e.target), graph_type = element.val(), chart = element.parents(".chart-container").first();

				var existingChart = Chart.getChart(chart.find("canvas").attr("id"));
				// Update the chart configuration to change the chart type
				existingChart.config.type = graph_type;
				// Update the chart with the new configuration
				existingChart.update();
			})
			function updateConfig() {
				start_date = moment().subtract(29, 'days');
				end_date = moment();
				function cb(start, end) {
					start_date = start
					end_date = end
					$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
					updateGraphs(start, end, get_interval())
				}
				$('#reportrange').daterangepicker({
					startDate: start_date,
					endDate: end_date,
					opens: "left",
					ranges: {
						'Today': [moment(), moment()],
						'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
						'Last 7 Days': [moment().subtract(6, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'This Month': [moment().startOf('month'), moment().endOf('month')],

						'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
						'This Year': [moment().startOf('year'), moment().endOf('year')]
					}
				}, cb);

				cb(start_date, end_date);
			}

		});
	</script>


</body>

</html>