<!DOCTYPE html>
<html lang="en">

<head>
	{%include 'head.html' %}
</head>

<body>
	<div class="wrapper">
		{%include 'sidebar.html'%}

		<div class="main">
			{%include 'navbar.html'%}
			<div class=" text-center rounded-0">
				<h1 class="h3 my-3">Irrigation</h1>
			</div>
			<div class=" border-top d-flex justify-content-center">
				<div class="nav nav-tabs me-3 pt-2" id="list-tab" role="tablist">
					<button class="bg-danger mx-1 nav-link active " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#manual" type="button" role="tab" aria-selected="false">
						Manual Controls
					</button>
					<button class="bg-danger mx-1 nav-link " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#history" type="button">
						History
					</button>
					<button class="bg-danger mx-1 nav-link " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#status" type="button">
						Status
					</button><button class="bg-danger mx-1 nav-link " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#schedules" type="button">
						Schedules
					</button>


				</div>
			</div>

			<main class="content" style="background-image: url('/img/dripirrigation-1.jpg') !important;">
				<style>
					.nav-link{
						color: white;
					}
					.nav-link.active{
						background-color: white !important;
						color: dark !important;
					}
					
				</style>
				<div class="container-fluid p-0">
					<div class="tab-content sub-form">
						<div class="tab-pane fade hide_if_grouped show active " id="manual" role="tabpanel"
							titleledby="general1-list">

							<div class="container px-lg-6 mx-auto d-table h-100">
								<div class="d-table-cell align-middle">
									<div class="card card-body" style="background-color: rgba(255, 255, 255, 0.5);">
										<div class="text-center ">
											<h1 class="h6 fw-bold">Manual Controls</h1>
											<p class="lead">
												Turn off and On Irrigation
											</p>
											<div class="py-4">

												<div class="button r" id="button-1">
													<input type="checkbox" class="checkbox" />
													<div class="knobs"></div>
													<div class="layer"></div>
												</div>

											</div>
											<div>
												<select class=" form-select form-select-sm">
													<option>Entire Field</option>
													<option>25cm Pivot</option>
													<option>50m Uphill From center</option>
													<option>50m Downhill From Center</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
						<div class="tab-pane fade hide_if_grouped  " id="history" role="tabpanel"
							titleledby="general1-list">
							--History Here
						</div>
						<div class="tab-pane fade hide_if_grouped" id="status" role="tabpanel"
							titleledby="general1-list">
							--Status Here
						</div>
						<div class="tab-pane fade hide_if_grouped" id="schedules" role="tabpanel"
							titleledby="general1-list">
							--Schedules comes here
						</div>
					</div>

				</div>
				<div class="modal" id="IrrigationStatusModal" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Irrigation Turned On</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p>
									You have successfully turned on Irrigation!
									
								</p>
								<p class="text-danger">You will receive a reminder to turn it off after 30mins</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
							</div>
						</div>
					</div>
				</div>
			</main>

			{%include "footer.html"%}
		</div>
	</div>




	<script>
		document.querySelector('.checkbox').addEventListener("change", function (e) {
			var on = e.target.checked;
			if (on) {
				$("#IrrigationStatusModal").modal("show");
				// console.log(new window.bootstrap.Modal(document.getElementById("#exampleModal")));

			}
		})
	</script>

</body>

</html>