<!DOCTYPE html>
<html lang="en">

<head>
	{%include 'head.html' %}
</head>

<body>
	<div class="wrapper">
		{%include 'sidebar.html'%}

		<div class="main">
			{%include 'navbar.html'%}
			<div class=" text-center rounded-0">
				<h1 class="h3 my-2">Settings</h1>
			</div>
			<style>
				.nav-link {
					color: white;
				}

				.nav-link.active {
					background-color: white !important;
					color: dark !important;
				}
			</style>
			<div class=" border-bottom border-top pt-2 d-flex justify-content-center">
				<div class="nav nav-tabs me-3 setting-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<button class=" mx-1 bg-danger nav-link " id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#user-accounts" type="button" role="tab" aria-controls="user-accounts"
						aria-selected="false">User Accounts</button>
					<button class="bg-danger nav-link  active border  mx-1" id="products-tab" data-bs-toggle="pill"
						data-bs-target="#soil-type" type="button" role="tab" aria-controls="soil-type"
						aria-selected="false">Set Soil Type</button>
					<button class="bg-danger nav-link  border mx-1" id="tax-tab" data-bs-toggle="pill"
						data-bs-target="#status" type="button" role="tab" aria-selected="false">Crop Status</button>

					<button class="bg-danger nav-link  " id="hardware-tab" data-bs-toggle="pill"
						data-bs-target="#hardware" type="button" role="tab" aria-controls="hardware"
						aria-selected="true">Hardware</button>
				</div>
			</div>
			<main class="content" style="background-image: url('/img/dripirrigation-1.jpg') !important;">

				<div class="container-fluid p-0">
					<div class="tab-content sub-form">
						<div class="tab-pane fade  " style="background-color: rgba(255, 255, 255, 0.7);"
							id="user-accounts" role="tabpanel" titleledby="general1-list">

							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">First Name</th>
										<th scope="col">Last Name</th>
										<th scope="col">Email</th>
										<th scope="col">Roles</th>

									</tr>
								</thead>
								<tbody>
									{%for user in users%}
									<tr>
										<td scope="row">{{user.id}}</td>
										<td>{{user.first_name}}</td>
										<td>{{user.last_name}}</td>
										<td>{{user.email}}</td>
										<td>
											{%for role in user.roles%}
											<span>{{role.name}} ,</span>
											{%endfor%}
										</td>
									</tr>
									{%endfor%}
								</tbody>
							</table>

						</div>
						<div class="tab-pane fade show active " id="soil-type" role="tabpanel"
							titleledby="general1-list">
							<div class="container px-lg-6 mx-auto d-table h-100">
								<div class="d-table-cell align-middle">
									<div class="card card-body" style="background-color: rgba(255, 255, 255, 0.5);">
										<form class="needs-validation" action="/api/fields" method="post" novalidate>
											<h1 class="h4 fw-bold text-center py-2">Soil Data</h1>
											<label for="id">Field Zone</label>
											<select name="id" id="field_type"
												class=" form-select form-select-sm" required>

											</select>
											<label for="soil_type">Soil Type</label>
											<input type="text" class=" form-control form-control-sm" name="soil_type">
											<label for="soil_texture">Texture</label>
											<input type="text" class=" form-control form-control-sm" name="soil_texture">
											<label for="gradient">Gradient</label>
											<input type="text" class=" form-control form-control-sm" name="gradient">
											<button class=" btn btn-success w-25 my-2">Set</button>
										</form>
									</div>
								</div>
							</div>

						</div>
						<div class="tab-pane fade " id="status" role="tabpanel" titleledby="general1-list">
							--Status Here
						</div>
						<div class="tab-pane fade " id="hardware" role="tabpanel" titleledby="general1-list">
							--hardware comes here
						</div>
					</div>

				</div>
				<div class="modal" id="IrrigationStatusModal" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Irrigation Turned On</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p>
									You have successfully turned on Irrigation!

								</p>
								<p class="text-danger">You will receive a reminder to turn it off after 30mins</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
							</div>
						</div>
					</div>
				</div>
			</main>

			{%include "footer.html"%}
		</div>
	</div>




	<script>
		var fields = {{ fields| safe }};
		console.log(fields);
		document.addEventListener("DOMContentLoaded", function () {
			var j = 0, data = [];
			fields.forEach(function (v, i, e) {
				data[v.id] = v;
				$("#field_type").append("<option value='" + v.id + "'>" + v.name + "</option>");
				if (j == 0) {
					$("[name='soil_type']").val(v.soil_type)
					$("[name='gradient']").val(v.gradient)
					$("[name='soil_texture']").val(v.soil_texture)
				}
				j++;
			})
			$("#field_type").change(function () {
				var i=$(this).val();
				$("[name='soil_type']").val(data[i].soil_type)
				$("[name='gradient']").val(data[i].gradient)
				$("[name='soil_texture']").val(data[i].soil_texture)
			})
		})
	</script>

</body>

</html>