<!DOCTYPE html>
<html lang="en">

<head>
	{%include 'head.html' %}
</head>

<body>
	<div class="wrapper">
		{%include 'sidebar.html'%}

		<div class="main">
			{%include 'navbar.html'%}
			<div class=" text-center rounded-0">
				<h1 class="h3 my-2">Settings</h1>
			</div>
			<style>
				.nav-link {
					color: white;
				}

				.nav-link.active {
					background-color: white !important;
					color: dark !important;
				}
			</style>
			<div class=" border-bottom border-top pt-2 d-flex justify-content-center">
				<div class="nav nav-tabs me-3 setting-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<button class=" mx-1 bg-danger nav-link active" id="user-accounts-tab" data-bs-toggle="pill"
						data-bs-target="#user-accounts" type="button" role="tab" aria-controls="user-accounts"
						aria-selected="false">User Accounts</button>
					<button class="bg-danger nav-link border  mx-1" id="products-tab" data-bs-toggle="pill"
						data-bs-target="#soil-type" type="button" role="tab" aria-controls="soil-type"
						aria-selected="false">Set Soil Type</button>
					<button class="bg-danger nav-link  border mx-1" id="tax-tab" data-bs-toggle="pill"
						data-bs-target="#status" type="button" role="tab" aria-selected="false">Crop Status</button>

					<button class="bg-danger nav-link  " id="hardware-tab" data-bs-toggle="pill"
						data-bs-target="#hardware" type="button" role="tab" aria-controls="hardware"
						aria-selected="true">Hardware</button>
				</div>
			</div>
			<main class="content" style="background-image: url('/img/dripirrigation-1.jpg') !important;">

				<div class="container-fluid p-0">
					<div class="tab-content sub-form">
						<div class="tab-pane fade show active" style="background-color: rgba(255, 255, 255, 0.8);"
							id="user-accounts" role="tabpanel" titleledby="general1-list">
							<div class="d-flex justify-content-end p-2">

								<button type="button" class="btn btn-sm btn-success " data-bs-toggle="modal"
									data-bs-target="#addUserModal">Add New User</button>
							</div>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">First Name</th>
										<th scope="col">Last Name</th>
										<th scope="col">Email</th>
										<th scope="col">Roles</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									{%for user in users%}
									<tr id="{{user.id}}">
										<td scope="row">{{user.id}}</td>
										<td>{{user.first_name}}</td>
										<td>{{user.last_name}}</td>
										<td>{{user.email}}</td>
										<td>
											{%for role in user.roles%}
											<span>{{role.name}} ,</span>
											{%endfor%}
										</td>
										<td>
											<a role="button" id="delete-user" data-cf-user-id="{{user.id}}" data-cf-user-email="{{user.email}}"><i
													data-feather="trash-2"></i></a>
											<a href="/user/{{user.email}}/{{user.id}}"><i
													data-feather="external-link"></i></a>
										</td>
									</tr>
									{%endfor%}
								</tbody>
							</table>

						</div>
						<div class="tab-pane fade" id="soil-type" role="tabpanel" titleledby="general1-list">
							<div class="container px-lg-6 mx-auto d-table h-100">
								<div class="d-table-cell align-middle">
									<div class="card card-body" style="background-color: rgba(255, 255, 255, 0.5);">
										<form class="needs-validation" action="/api/soil_data" method="post" novalidate>
											<h1 class="h4 fw-bold text-center py-2">Soil Data</h1>
											<label for="id">Field Zone</label>
											<select name="id" id="soil_field_type" class=" form-select form-select-sm"
												required>

											</select>
											<label for="soil_type">Soil Type</label>
											<input type="text" class=" form-control form-control-sm" name="soil_type">
											<label for="soil_texture">Texture</label>
											<input type="text" class=" form-control form-control-sm"
												name="soil_texture">
											<label for="gradient">Gradient</label>
											<input type="text" class=" form-control form-control-sm" name="gradient">
											<button class=" btn btn-success w-25 my-2">Set</button>
										</form>
									</div>
								</div>
							</div>

						</div>
						<div class="tab-pane fade " id="status" role="tabpanel" titleledby="general1-list">
							<div class="container px-lg-6 mx-auto d-table h-100">
								<div class="d-table-cell align-middle">
									<div class="card card-body" style="background-color: rgba(255, 255, 255, 0.5);">
										<form class="needs-validation" action="/api/crops_data" method="post"
											novalidate>
											<h1 class="h4 fw-bold text-center py-2">Soil Data</h1>
											<label for="id">Field Zone</label>
											<select name="id" id="crop_field_type" class=" form-select form-select-sm"
												required>

											</select>
											<label for="crop_name">Crop Name</label>
											<input type="text" class=" form-control form-control-sm" name="crop_name">
											<label for="crop_type">Crop Type</label>
											<input type="text" class=" form-control form-control-sm" name="crop_type">
											<label for="crop_age">Crop Age(In Days)</label>
											<input type="text" class=" form-control form-control-sm" name="crop_age">
											<button class=" btn btn-success w-25 my-2">Set</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade " id="hardware" role="tabpanel" titleledby="general1-list"
							style="background-color: rgba(255, 255, 255, 0.9);">
							<div class="d-flex justify-content-between p-2">
								<div></div>
								<div>
									<button class="refresh btn btn-sm btn-success">Refresh</button>
									<button id="golive" class="btn btn-danger btn-sm">Auto Refresh</button>
								</div>
							</div>
							<div id="no-device-msg" class="bg-white py-3 text-center text-danger fw-bolder">
								<div class="py-5 my-5">
									<h5>There are no devices connected......Please make sure the devices are connected
										properly</h5>
									<button class="refresh btn btn-sm btn-success py-2">Try Refresh</button>
								</div>
							</div>

							<div class="device-view visually-hidden">

								<div class="device-infor alert border-bottom rounded-0 mb-1 ">
									<h3>Device Name: <span class="device-name"></span></h3>
									<div>
										<h6>Status: <span class="text-success">Connected</span></h6>
										<div class=" text-center w-100"><span>- - - - - - -</span></div>
										<h5>Registered Sensors:</h5>
									</div>
								</div>
								<table class="table table-striped registered-sensors">
									<thead>
										<tr>
											<th scope="col">Sensor</th>
											<th scope="col">Status</th>
											<th scope="col">UpdateAt</th>

										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<div class="modal" id="IrrigationStatusModal" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Irrigation Turned On</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p>
									You have successfully turned on Irrigation!

								</p>
								<p class="text-danger">You will receive a reminder to turn it off after 30mins</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
							</div>
						</div>
					</div>
				</div>
				<div class="modal" id="alert" aria-hidden="true" style="z-index: 1500 !important;">
					<div class=" modal-dialog modal-dialog-scrollable">
						<div class="modal-content rounded-0">
							<div
								class="modal-header rounded-0 py-0 border-0 border-bottom d-flex justify-content-between">
								<div class="title">
								</div>
								<a class="close small text-white" data-bs-dismiss="modal" aria-label="Close">
									<span class=" h3 ">X</span>
								</a>
							</div>
							<div class="modal-body py-1 m-0 text-center text-white">

							</div>

						</div>
					</div>
				</div>
				<div class="modal" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel"
					aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content rounded-0">
							<div class="modal-header">
								<h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body ">
								<!-- User registration form -->
								<form id="addUserForm" class="needs-validation">
									<div class="mb-3">
										<label for="first_name" class="form-label">First Name</label>
										<input type="text" class="form-control" id="first_name" name="firstName"
											required>
									</div>
									<div class="mb-3">
										<label for="lastName" class="form-label">Last Name</label>
										<input type="text" class="form-control" id="last_name" name="last_name"
											required>
									</div>

									<div class="mb-3">
										<label for="email" class="form-label">email</label>
										<input type="email" class="form-control" id="email" name="email" required>
									</div>
									<div class="mb-3">
										<label for="userRole" class="form-label">User Role</label>
										<select class="form-select" id="userRole" name="userRole" required>
											<option value="admin">Admin</option>
											<option value="user">User</option>
										</select>
									</div>
									<!-- Add more fields as needed -->
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="addUser()">Add User</button>
							</div>
						</div>
					</div>
				</div>
			</main>

			{%include "footer.html"%}
		</div>
	</div>




	<script>
		var fields = {{ fields| safe }};
		var connected_devices = {{ connected_devices| safe}};
		document.addEventListener("DOMContentLoaded", function () {
			var j = 0, data = [];
			fields.forEach(function (v, i, e) {
				data[v.id] = v;
				$("#soil_field_type").append("<option value='" + v.id + "'>" + v.name + "</option>");
				$("#crop_field_type").append("<option value='" + v.id + "'>" + v.name + "</option>");
				if (j == 0) {
					if (v.crop_status != null) {
						$("[name='crop_type']").val(v.crop_status.crop_type)
						$("[name='crop_name']").val(v.crop_status.crop_name)
						$("[name='crop_age']").val(v.crop_status.crop_age)
					}
					if (v.soil_status != null) {
						$("[name='soil_type']").val(v.soil_status.soil_type)
						$("[name='gradient']").val(v.soil_status.gradient)
						$("[name='soil_texture']").val(v.soil_status.soil_texture)
					}
				}
				j++;
			})
			$("#crop_field_type").change(function () {
				var i = $(this).val();
				if (data[i].crop_status != null) {
					$("[name='crop_type']").val(data[i].crop_status.crop_type)
					$("[name='crop_name']").val(data[i].crop_status.crop_name)
					$("[name='crop_age']").val(data[i].crop_status.crop_age)
				} else {
					$("[name='crop_type']").val("")
					$("[name='crop_name']").val("")
					$("[name='crop_age']").val("")
				}
			})
			$("#soil_field_type").change(function () {
				var i = $(this).val();
				if (data[i].soil_status != null) {
					$("[name='soil_type']").val(data[i].soil_status.soil_type)
					$("[name='gradient']").val(data[i].soil_status.gradient)
					$("[name='soil_texture']").val(data[i].soil_status.soil_texture)
				} else {
					$("[name='soil_type']").val("")
					$("[name='gradient']").val("")
					$("[name='soil_texture']").val("")
				}
			})

			function formatDate(date) {
				var formattedDate = date.toLocaleDateString("en-GB", {
					day: "numeric",
					month: "numeric",
					year: "numeric"
				}).split("/").reverse().join("/");

				var formattedTime = date.toLocaleTimeString().split(" ")[0];

				return `${formattedDate} ${formattedTime}`;
			}
			function displayDevices(connected_devices) {
				var devices = $(".device-view:not(.visually-hidden)")
				devices.remove()
				if (Object.keys(connected_devices).length === 0) {
					$(".device-view").addClass("visually-hidden")
					$("#no-device-msg").removeClass("visually-hidden")
				} else {

					for (const [device, device_infor] of Object.entries(connected_devices)) {
						var device_infor_container = $(".device-view").clone()
						device_infor_container.find(".device-name").text(device)
						var registered_sensors = device_infor_container.find(".registered-sensors tbody").first()
						for (const [sensor, sensor_infor] of Object.entries(device_infor['sensors'])) {
							var status = sensor_infor['status'] == true ? "Connected" : "Not Connected",
								last_update = formatDate(new Date())

							var sensor_row = `<tr>
								<td>${sensor}</td>
								<td> <span class="${status == "Connected" ? "text-success" : "text-danger"} fw-bold">${status}</span></td>
								<td>${last_update}</td>
							</tr`
							registered_sensors.append(sensor_row)
						}
						device_infor_container.removeClass("visually-hidden")
						device_infor_container.insertAfter($(".device-view").last())
					}
					$("#no-device-msg").addClass("visually-hidden")
				}
			}
			displayDevices(connected_devices)

			$(".refresh").click(function () {
				send("/api/refresh_hardware_infor").done(function (data) {
					displayDevices(data)
				}).fail(function (e) {
					console.log(e)
					error("Failed To Refresh")

				})
			})

			var ws = null;
			var disconnected = false
			$("#golive").click(function () {
				if ($("#golive").hasClass("live")) {
					disconnected = true
					if (ws != null) {
						ws.close()
						ws = null;
					}
					$(".refresh").removeClass("visually-hidden")
					$("#golive").text("Auto Refresh")
					$("#golive").removeClass("live")
				} else {
					if (ws == null) {
						ws = new WebSocket('ws://localhost:5000/client/live_hardware_infor')
						ws.onopen = () => {
							$("#golive").text("Disconnect")
							$("#golive").addClass("live")
							$(".refresh").addClass("visually-hidden")
						}
						ws.onclose = function (e) {
							if (!disconnected) {
								$("#golive").text("Auto Refresh")
								$("#golive").removeClass("live")
								$(".refresh").removeClass("visually-hidden")
								error("Live Connection Failed")
								ws = null
							}
						};
						ws.onmessage = (message) => {
							displayDevices(JSON.parse(message.data))
						}
					}
				}

			})
		})

		$(function () {
			$("#delete-user").click(function (e) {
				var user_id = $(e.currentTarget).attr("data-cf-user-id"), user_email = $(e.currentTarget).attr("data-cf-user-email")
				send(`user/${user_email}/${user_id}`, {}, "DELETE").done(function (data) {
				}).fail(function (err) {
					error(`${err.responseText}`, err.statusText)
				})
			})
		})
		function addUser() {
			var form = document.getElementById("addUserForm")
			if (form.checkValidity() === true) {
				var user_data = getFormData("addUserForm")
				console.log(user_data)
				send("/api/add_new_user", user_data, "POST").done(function (data) {

				}).fail(function (err) {
					error(`${err.responseText}`, err.statusText)
				})
			}
			$(form).addClass("was-validated");
		}
	</script>

</body>

</html>